.vscode
book
build
reference
teaching
workspace.code-workspace
__pycache__/
source/.vscode
source/_future
source/_static/code/.idea
source/_static/code/zh/tools/tfdata/cat_and_dog
source/zh/advanced
*.log
.DS_Store